# .gitignore
*.o
*.a
/.cache/
/_build/
/_build2/
/pingpath
/pingpath2

.*.swp
*~
compile_commands.json
*.snap
/.flatpak-builder/
/debs/
**/.debhelper
**/*.debhelper.log
/obj-*-linux-gnu/
/aur/
archlinux/pingpath/
/rpms/
