# .gitignore
*.o
*.a
/.cache/
/_build/
/_build1/
/_build2/
/_build3/

/pingpath
/pingpath1
/pingpath2
/pingpath3

.*.swp
*~
compile_commands.json
*.snap
/.flatpak-builder/
/debs/
**/.debhelper
/aur/
archlinux/pingpath/
/rpms/
