# .gitignore
*.o
*.a
/.cache/
/_build/
/uninstall/
/pingpath

.*.swp
*~
config.h
compile_commands.json
*.snap
/.flatpak-builder/
/debs/
**/.debhelper
**/*.debhelper.log
/obj-*-linux-gnu/
/aur/
archlinux/pingpath/
/rpms/
