
[ping]
# cycles = 100
# numeric = false
# interval = 1
# qos = 0
# payload = 00

## NOTE: minTTL,maxTTL
# ttl = 1,30

## NOTE: 4 - IPv4, 6 - IPv6
# ipversion =

## NOTE: "hacdr" stands for "Hostname, ASN, CC, Description, Route"
# info = hac

## NOTE: "lsrmbwaj" stands for "Loss, Sent, Received, Millis, Best, Worst, Average, Jitter"
# stat = lsmbwaj

[aux]
## NOTE: 1st bit stands for dark main theme, 2nd - for dark graph theme, 3rd - for graph legend,
##       4th (pp3 only) - for dark plot theme
# theme = 5 # i.e. "dark main" and "graph legend"

## NOTE: 0 - none, 1 - dot, 2 - line, 3 - curve
# graph = 3

## NOTE: "lra" stands for "mean Line, jitter Range, jitter Area"
# extra =

## NOTE: "dch" stands for "mean Delay, CCAS, Hopname"
# legend = dch

## NOTE: "bag" stands for "Backside, Axis, Grid" (pp3 only)
# plot = bag

## NOTE: syntax: tag=values
##      `rgb' color gradients (start:end) within range 0 through 255
##      `o'   orientation and rotation (yaw:pitch:roll:step)
##          orientation angles are within range -180 through 180
##          rotation step is in range from 1 to 180
# plot-params = r=77:77,g=230:77,b=77:230,o=-20:0:0:5

## NOTE: not-interactive mode: t - text, c - csv, j - json, J - pretty json
# recap =

