Source: pingpath
Section: net
Priority: optional
Maintainer: yvs <VSYakovetsky@gmail.com>
Rules-Requires-Root: no
Build-Depends: dpkg-dev, debhelper, meson, git, pkgconf | pkg-config, libgtk-4-dev, libjson-glib-dev, libgl-dev, libepoxy-dev, libcglm-dev
Standards-Version: 4.6.2
Homepage: https://github.com/yvs2014/pingpath

Package: pingpath
Depends: ${shlibs:Depends}, iputils-ping, libgtk-4-1 | libgtk-4-0, libjson-glib-1.0-0, libgl1, libepoxy0, libcglm0
Architecture: any
Description: 'ping' wrapper to display path
  Network diagnostic tool based on parsing ping output with some functionality of traceroute.
  Written using GTK framework.
