#!/usr/bin/make -f

GCC_ONLY=-flto=auto -ffat-lto-objects -fstack-clash-protection -ffat-lto-objects
export DEB_CFLAGS_MAINT_STRIP=$(GCC_ONLY)
export DEB_LDFLAGS_MAINT_STRIP=$(GCC_ONLY)
export DEB_BUILD_OPTIONS=nocheck # disable auto-test test.c

%:
	dh $@

override_dh_auto_install:
	dh_auto_install -- prefix=/usr PREFIX=/usr

override_dh_builddeb:
	dh_builddeb $@ $(DEBDIR)

