[Desktop Entry]
Name=pingpath
Comment=Graphical ping wrapper (3D version)
Exec=pingpath
Icon=pingpath
Terminal=false
Type=Application
StartupNotify=true
Keywords=network;ping;wrapper;
Categories=Utility;
