[Desktop Entry]
Name=pingpath2
Comment=Graphical ping wrapper (2D version)
Exec=pingpath2
Icon=pingpath
Terminal=false
Type=Application
StartupNotify=true
Keywords=network;ping;wrapper;
Categories=Utility;
