[Desktop Entry]
Name=pingpath
Comment=Graphical ping wrapper
Exec=pingpath
Icon=${SNAP}/meta/gui/pingpath.svg
Terminal=false
Type=Application
StartupNotify=true
Keywords=network;ping;wrapper;
Categories=Utility;
